table {
  margin: 0 auto;
}
.cell {
  background-color: #DEDEDE;
  height: 100px;
  width: 100px;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}


.number {
  color: black;
  font-size: 35px;
}

h1{

 text-align: center; 
}